LEARN DATA TYPES AND DATA TYPES CONVERSE IN PYTHON

di dalam python terdapat beberapa tipe data yang dapat di gunakan di antaranya :
1. tipe data 'int(integer)' dan melakukan konversi tipe data 
2. tipe data 'float (pecahan/desimal)' dan melakukan konversi tipe data 
3. tipe data 'string'
4. tipe data 'list'
5. tipe data 'tuple'
6. tipe data 'dictionary'
7. tipe data 'boolean'
8. tipe data 'complex'

In [34]:
'''
1. tipe data 'int(integer)'
tipe data int (integer) adalah Tipe data integer adalah tipe data numerik yang menampung bilangan bulat. 
Contohnya bilangan 1,2,3 dan seterusnya. Sehingga setiap variabel yang memiliki nilai bilangan bulat,
maka ia akan dikategorikan sebagai integer. 
'''

# contoh tipe data int(integer)
panjang = 10 
# panjang merupakan variablenya  dan nilai 10 merupakan tipe data integer atau bisa di bilang tipe data numerik

print(type(panjang))
print(panjang)
# print merupakan cara python untuk menrun atau menampilkan output yang telah kita isi di inputan 
# dan di lanjutkan dengan parameter yang isinya yang kita ingin run di sini di dalam parameter berisi variable yang
# kita ingin run, di dalam paramater bisa bermacam" isinya bisa berisi tipe data string atau teks juga 
# dengan menaruh simbol ' ' atau " "

'''
konversi tipe data 
konversi tipe data terbagi menjadi 2 yaitu :
A.konversi tipe data insplisit
  konversi tipe data ini di lakukan secara otomatis oleh python

B. konversi tipe data ekspilist
   konversi tipe data ini di lakukan secar manual di pemograman python

untuk melakukan konversi tipe data eksplisit, terdapat simbol atau kode program yang menyatakan untuk konversi tipe data yaitu :
int() - untuk konversi data ke integer
float() - untuk konversi data ke float
bool() - untuk konversi data ke bool
str() - untuk konversi data string (sebagian orang menyebutkan bahwa string adalah tipe data primitif pada python [1])
'''
# konversi tipe data int(integer) ke float(pecahan/desimal)
print('konversi tipe data int ke float')
panjang = int(input('masukkan tinggi panjang :')) # ini merupakan format untuk melakukan konversi tipe data dimana untuk konversi tipe data integer harus menuliskan int()
lebar = float(input('masukkan lebar kamu :'))
print('luas', panjang * lebar)

<class 'int'>
10
konversi tipe data int ke float
masukkan tinggi panjang :10
masukkan lebar kamu :10
luas 100.0

In [32]:
'''
2. tipe data float
tipe data float merupakan tipe data yang ada di python yang berfungsi sebagai numerik tetapi bernilai desimal dan juga 
Hampir sama dengan tipe data integer, hanya saja tipe data float dipergunakan untuk variabel-variabel 
yang memiliki nilai pecahan / desimal. Tipe data float juga termasuk ke dalam tipe data numerik 
karena jenis data ini menyimpan bilangan pecahan atau disebut juga dengan bilangan real. 
Pemisah dari bilangan desimal menggunakan tanda titik (.).
'''

# contoh tipe data float (pecahan/desimal)
lebar = 2.5 
#lebar merupakan variablenya dan nilai 2.5 merupakan tipe data float atau 
 # bisa di bilang tipe data bernilai pecahan / desimal
    
print(type(lebar))
print(lebar)

 
'''
konversi tipe data 
konversi tipe data terbagi menjadi 2 yaitu :
A.konversi tipe data insplisit
  konversi tipe data ini di lakukan secara otomatis oleh python

B. konversi tipe data ekspilist
   konversi tipe data ini di lakukan secar manual di pemograman python

untuk melakukan konversi tipe data eksplisit, terdapat simbol atau kode program yang menyatakan untuk konversi tipe data yaitu :
int() - untuk konversi data ke integer
float() - untuk konversi data ke float
bool() - untuk konversi data ke bool
str() - untuk konversi data string (sebagian orang menyebutkan bahwa string adalah tipe data primitif pada python [1])
'''
# konversi tipe data float ke integer
print('konversi tipe data float ke integer')

panjang_meja = float(input('masukan panjang meja :'))
lebar_meja = int(input('masukan lebar meja :'))

print('luas = ', panjang_meja * lebar_meja)

<class 'float'>
2.5
konversi tipe data float ke integer
masukan panjang meja :13.0
masukan lebar meja :12
luas =  156.0

In [49]:
'''
3. tipe data string 
tipe data string adalah tipe data yang ada di python yang berfungsi untuk mengolah teks atau 
Tipe data string sering juga disebut dengan tipe data teks, tipe data ini digunakan untuk menyimpan sebuah teks. 
Data yang bertipe string harus diapit oleh tanda kutip, baik tanda kutip satu ('') maupun tanda kutip dua (" ") 
setelah karakter sama dengan (=).
'''
# contoh tipe data string
buah = 'buah mangga, buah anggur' 
#buah  merupakan variablenya  dan teks yang di dalam string atau di dalam simbol " " 
# merupakan tipe data string  

print(type(buah))
print(buah)

# menggabungkan string 
# ada dua metode melakukan penggabungan string yaitu menggunakan simbol koma (,) dan menggunakan simbol tambah (+)
# contoh

print('menggabungkan string menggunakan simbol koma (,)')

a = 'didi adalah'
b = 'anak ganteng'

print(a,b)

print('menggabungkan string menggunakan simbol tambah (+)')
a = 'awa adalah'
b = 'pacarnya didi'

print(a+b)

print('update string')

data1 = "belajar bahasa python"
print (data1[:8]+ "Pemrograman")

<class 'str'>
buah mangga, buah anggur
menggabungkan string menggunakan simbol koma (,)
didi adalah anak ganteng
menggabungkan string menggunakan simbol tambah (+)
awa adalahpacarnya didi
update string
belajar Pemrograman

In [52]:
'''
4. tipe data list 
List adalah tipe data yang paling serbaguna yang tersedia dalam bahasa Python, 
yang dapat ditulis sebagai daftar nilai yang dipisahkan koma (item) antara tanda kurung siku. 
Hal penting tentang daftar adalah item dalam list tidak boleh sama jenisnya.
'''
# contoh tipe data list
# Membuat list sangat sederhana, tinggal memasukkan berbagai nilai yang dipisahkan koma di antara tanda kurung siku. 
# Dibawah ini adalah contoh sederhana pembuatan list dalam bahasa Python.

print('tipe data list')

list1 = ['kimia', 'fisika', 2001, 2002]
list2 = [1,2,3,4,5,6,7,8,9,10]
list3 = ["a","b","c"]

print('akses nilai pada list python')

list_A = ['kimia', 'biologi', 2012, 2022]
list_B = [1,2,3,4,5]

print('list_A[1]', list_A[1])
print('list_B[1:5]', list_B[1:5])

print('Indexing, Slicing dan Matrix Pada List Python')
'''
Indexing, Slicing dan Matrix Pada List Python
Karena list adalah urutan, pengindeksan dan pengiris bekerja dengan cara yang sama
untuk list seperti yang mereka lakukan untuk String.
'''
# contoh Indexing, Slicing dan Matrix Pada List Python

L = ['C++', 'java', 'python']

print(L[2]) #indexing pada python
print(L[1:]) #Slicing mengambil bagian
print(L[-2]) #Negatif: hitung dari kanan

tipe data list
akses nilai pada list python
list_A[1] biologi
list_B[1:5] [2, 3, 4, 5]
Indexing, Slicing dan Matrix Pada List Python
python
['java', 'python']
java

In [53]:
'''
tipe data tuple
Sebuah tupel adalah urutan objek Python yang tidak berubah. Tupel adalah urutan, seperti daftar. 
Perbedaan utama antara tupel dan daftarnya adalah bahwa tupel tidak dapat diubah tidak seperti List Python. 
Tupel menggunakan tanda kurung, sedangkan List Python menggunakan tanda kurung siku.

Membuat tuple semudah memasukkan nilai-nilai yang dipisahkan koma. Secara opsional,
Anda dapat memasukkan nilai-nilai yang dipisahkan koma ini di antara tanda kurung juga.
'''
print('contoh dari tuple')

tup1 = ('fisika', 'biologi', 2001, 2002)
tup2 = (1,2,3,4,5,6,7,8)
tup3 = ("a", "b", "c")

'''
Tupel kosong ditulis sebagai dua tanda kurung yang tidak berisi apa-apa, contohnya : tup1 = (); 
Untuk menulis tupel yang berisi satu nilai, Anda harus memasukkan koma, meskipun hanya ada satu nilai, 
contohnya : tup1 = (50,) Seperti indeks String, indeks tuple mulai dari 0, dan mereka dapat diiris, digabungkan, dan seterusnya
'''

print('contoh dari tuple memakai nilai')

tup1 = ('fisika', 'kimia', 1993, 2017)
tup2 = (1, 2, 3, 4, 5, 6, 7 )

print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

contoh dari tuple
contoh dari tuple memakai nilai
tup1[0]:  fisika
tup2[1:5]:  (2, 3, 4, 5)

In [55]:
'''
Dictionary Python
Dictionary Python berbeda dengan List ataupun Tuple. Karena setiap urutanya berisi key dan value. 
Setiap key dipisahkan dari value-nya oleh titik dua (:), item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. 
Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}.

Nilai kamus bisa berupa tipe apa pun, namun key harus berupa tipe data yang tidak berubah seperti string, angka, atau tupel.
'''
print('contoh dictionary python memakai nilai')

dict ={'name': 'didi', 'class' : 'firstclass', 'hometown': 'palu'}
print("dict['name']: ", dict['name'])
print("dict['class']: ", dict['class'])
print("dict['hometown']: ", dict['hometown'])

contoh dictionary python memakai nilai
dict['name']:  didi
dict['class']:  firstclass
dict['hometown']:  palu

In [1]:
'''
TIPE DATA BOOLEAN :
pada python3 menyediakan tipe data boolean, tipe data boolean memiliki 2 nilai yaitu true and false.
'''

# example 
print(type(True))

NameError: name 'true' is not defined

sumber belajar :
https://belajarpython.com/
https://belajarpython.com/tutorial/dictionary-python
https://www.dqlab.id/belajar-python-pemula-mulai-dari-dasar-kenali-tipe-data-yang-dimiliki-python
https://www.malasngoding.com/operasi-tipe-data-string/